<!-- MenuPadre.vue -->
<template>
  <div>
    <h1>LENGUAJES DE PROGRAMACIÓN</h1>
    <menu-item v-for="item in menuItems" :key="item.id" :item="item"/>
  </div>
</template>

<script setup lang="ts">
import MenuItem from './MenuItem.vue';
const menuItems = [
  { id: 1, text: 'Java' },
  { id: 2, text: 'JavaScript' },
  { id: 3, text: 'C' },
  { id: 4, text: 'C#' },
  { id: 5, text: 'Python' },
  { id: 6, text: 'PHP' },
];

</script>
<style scoped>
/* Estilos específicos del componente */
</style>