<template>
  <div class="about">
    <h1>C# (SHARP)</h1>
    <p>
      C# (o C Sharp) es un lenguaje de programación de propósito general, que se usa en especial para desarrollos en la
      plataforma .NET. Es válido decir que C# es la evolución de C, uno de los lenguajes de programación más importantes
      del mundo en su momento. C# es un lenguaje de programación moderno y orientado a objetos desarrollado por Microsoft
      en el año 2000. Su nombre, “C Sharp”, refleja su relación con el lenguaje C++, ya que C# hereda muchas de las
      características de C++ pero con mejoras significativas y enfoque en la programación más segura y eficiente. Es un
      lenguaje de alto nivel que se enfoca en la legibilidad del código y la facilidad de uso, lo que lo hace ideal tanto
      para principiantes como para programadores experimentados. C# es un lenguaje de programación que ha dejado una marca
      significativa en el mundo del desarrollo de software. Su combinación de orientación a objetos, seguridad,
      versatilidad y facilidad de uso lo hace un lenguaje de elección para una amplia gama de aplicaciones y proyectos. Ya
      sea para crear aplicaciones de escritorio, sitios web interactivos, juegos emocionantes o aplicaciones móviles
      innovadoras, C# brinda las herramientas y el poder necesario para llevar ideas a la realidad digital.
    </p>
  </div>
</template>

<style>@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}</style>
