<template>
  <div class="about">
    <h1>C</h1>
    <p>
      El lenguaje C es uno de los más antiguos que se usan en la actualidad. Es un lenguaje de programación originalmente
      desarrollado por Dennis M. Ritchie entre 1969 y 1972 en los Laboratorios Bell, como evolución del anterior lenguaje
      B. En sus orígenes su propósito específico era para la implementación de Sistemas Operativos, concretamente Unix. En
      aquellas fechas es cuando se empezaban a desarrollar nuevos Sistemas Operativos y era necesario de disponer de
      herramientas de programación eficientes. El lenguaje C es apreciado por la eficiencia del código que produce y es el
      lenguaje de programación más popular para crear software de sistemas, aunque también se utiliza para crear
      aplicaciones hoy en día. En el diseño del lenguaje, Uno de los objetivos es que solo sean necesarias muy pocas
      instrucciones en lenguaje máquina para traducir cada elemento del lenguaje, por este motivo, es muy sencillo
      escribir C a bajo nivel de abstracción y usarlo incluso como intermediario entre diferentes lenguajes. Estas
      características permiten que se puedan desarrollar compiladores de C fácilmente y por ello el lenguaje C está
      disponible en un amplio abanico de plataformas (más que cualquier otro lenguaje) mediante el uso de estos
      compiladores.
    </p>
  </div>
</template>

<style>@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}</style> 
 