<template>
  <div class="about">
    <h1>JAVASCRIPT</h1>
    <p>
      JavaScript es un lenguaje de programación o de secuencias de comandos que te permite implementar funciones complejas
      en páginas web, cada vez que una página web hace algo más que sentarse allí y mostrar información estática para que
      la veas, muestra oportunas actualizaciones de contenido, mapas interactivos, animación de Gráficos 2D/3D,
      desplazamiento de máquinas reproductoras de vídeo, etc., puedes apostar que probablemente JavaScript está
      involucrado. Es la tercera capa del pastel de las tecnologías web estándar, dos de las cuales (HTML y CSS) hemos
      cubierto con mucho más detalle en otras partes del Área de aprendizaje. núcleo del lenguaje JavaScript de lado del
      cliente consta de algunas características de programación comunes que te permiten hacer cosas como:
      Almacenar valores útiles dentro de variables. En el ejemplo anterior, por ejemplo, pedimos que ingreses un nuevo
      nombre y luego almacenamos ese nombre en una variable llamada name.
      Operaciones sobre fragmentos de texto (conocidas como "cadenas" (strings) en programación). En el ejemplo anterior,
      tomamos la cadena "Player1:" y la unimos a la variable name para crear la etiqueta de texto completa, p. ej.
      ''Player1: Chris".
      Y ejecuta código en respuesta a ciertos eventos que ocurren en una página web. Usamos un evento click en nuestro
      ejemplo anterior para detectar cuándo se hace clic en el botón y luego ejecutar el código que actualiza la etiqueta
      de texto.

    </p>
  </div>
</template>

<style>@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}</style>
 