<template>
  <div class="about">
    <h1>TJAVA</h1>
    <p>
      Java es un lenguaje de programación utilizado para crear software compatible con una gran diversidad de sistemas
      operativos. Este lenguaje tiene la particularidad de ser compilado e interpretado al mismo tiempo; esto significa
      que es un lenguaje simplificado que convierte automáticamente el código en instrucciones de máquina. Desde su
      lanzamiento, Java se destacó como el único lenguaje en su tipo, debido a que su propia traducción funcionaba de
      forma diferente a las demás opciones de programación disponibles. Esta traducción radica en que compila e interpreta
      de forma paralela, cuando el resto de los lenguajes únicamente ejecutaba una de las dos operaciones. Esta sutil
      diferencia provocó un gran impacto e hizo de Java una de las opciones más populares de programación. En un principio
      el lenguaje comenzó como una forma para conectar sistemas dentro de las oficinas y otros espacios de comunicación,
      pero al cambiar el enfoque hacia el mundo online Java trascendió esta frontera y entró de lleno en la web 2.0, o red
      interactiva. No pasó mucho tiempo antes de que otras opciones en el mercado comenzaran a ganar popularidad, por lo
      que paulatinamente Java perdió terreno en el mundo online. Hasta que en el año 2016 Oracle la empresa que compró a
      Sun Microsystems en 2010) decidió disminuir el protagonismo de Java y en poco tiempo muchos de sus subprogramas
      fueron retirados.
    </p>
  </div>
</template>

<style>@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}</style>
 