<template>
  <div class="about">
    <h1>PHP</h1>
    <p>
      PHP (acrónimo recursivo de PHP: Hypertext Preprocessor) es un lenguaje de código abierto muy popular especialmente
      adecuado para el desarrollo web y que puede ser incrustado en HTML. Generalmente es definido como un lenguaje del
      lado del servidor. Esto significa que se aplica en la programación que tiene lugar en el servidor web responsable de
      ejecutar la aplicación o, más a menudo, en un sitio web. Este trabajo previo permite cargar los elementos de una
      página antes de mostrarlos al usuario que accede a un sitio web, por ejemplo. El código PHP se ejecuta en el
      servidor que, al leer los comandos, puede activar todos los elementos funcionales y la interfaz visual del sitio
      web. Quizás, la aplicación principal del lenguaje PHP, cuando hablamos de la web, es estructurar sitios web en
      WordPress. La simplicidad para aprender a usarlo y el desarrollo del código abierto le facilita el trabajo a los
      profesionales que eligen estructurar sitios web utilizando la plataforma, pues a medida que avanzan las
      configuraciones y ediciones se simplifican aún más.
    </p>
  </div>
</template>

<style>@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}</style>
 