<template>
  <div class="about">
    <h1>PYTHON</h1>
    <p>
      Python es un lenguaje de programación informático que se utiliza a menudo para crear sitios web y software,
      automatizar tareas y realizar análisis de datos. Python es un lenguaje de propósito general, lo que significa que se
      puede utilizar para crear una variedad de programas diferentes y no está especializado en ningún problema
      específico. Esta versatilidad, junto con su facilidad para los principiantes, lo ha convertido en uno de los
      lenguajes de programación más utilizados en la actualidad. Una encuesta realizada por la empresa de análisis del
      sector RedMonk encontró que era el segundo lenguaje de programación más popular entre los desarrolladores en 2021.
    </p>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}</style>
 