<!-- App.vue -->
<template>
  <div id="app">
    <menu-padre />
  </div>
</template>

<script setup lang="ts">
import MenuPadre from './components/menu/MenuPadre.vue';
</script>

<style>
/* Estilos globales de la aplicación */
</style>
